body{
    background-color: rgb(23, 119, 65);
    color: rgb(255, 255, 255);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 1;
}

button{
    background-color: rgb(28, 87, 21);
    color: rgb(255, 255, 255);
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}